@import url('RobotoMono-Thin.ttf');

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

body, html {
  font-family: 'Roboto Mono', monospace;
  background: url(bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  transition: all 0.4s ease-in-out;
}

.login {
    backdrop-filter: blur(10px) brightness(60%) contrast(90%);
    width: 40vw;
    height: 100vh;
    text-align: left;
    align-items: left;
    color: white;
}

#auth-form {
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s ease-out;
}

.greeting {
  font-size: 10vh;
  padding-top: 10vh;
  padding-bottom: 1vh;
  padding-left: 1%;
  font-weight: 900;
}

.time {
  padding-bottom: 5vh;
  padding-left: 2%;
  font-size: 4vh;
}

#battery {
  height: 4vh;
  filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(97deg) brightness(102%) contrast(103%);
  margin-left: 1vh;
  display: inline-block;
}

.day{
  font-weight: bold;
}

.login-info {
  padding-top: 15vh;
  padding-bottom: 2vh;
  padding-left: 2%;
  font-size: 3vh;
}

.user {
  font-family: inherit;
  font-size: 3vh;
  border: none;
  border-bottom: 2px solid grey;
  border-radius: 2px;
  outline: none;
  background-color: transparent;
  width: 30%;
  transition: border-color 0.2s;
  color: white;
}

.user:hover {
  border-color:slategray;
}

.password {
  font-family: inherit;
  font-size: 3vh;
  border: none;
  border-bottom: 2px solid grey;
  border-radius: 2px;
  outline: none;
  background-color: transparent;
  width: 50%;
  margin-left: 2%;
  transition: border-color 0.2s;
  color: white;
}

.password:hover {
  border-color:slategray;
}

.session-swt {
  padding-top: 4vh;
  padding-bottom: 2vh;
  padding-left: 2%;
  font-size: 3vh;
  cursor: pointer;
  transition: all 0.2s;
}

.session-swt:hover {
  color: slategray;
}

.power {
  position: absolute;
  bottom: 0;
  margin-bottom: 1%;
  margin-left: 2%;
  padding-top: 2%;
}

.power-btn{
  filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(97deg) brightness(102%) contrast(103%);
  cursor: pointer;
}
.power-btn:hover{
  filter: invert(49%) sepia(7%) saturate(851%) hue-rotate(169deg) brightness(100%) contrast(94%);
}

.power-options{
    backdrop-filter: blur(10px) brightness(60%) contrast(90%);
    width: 50vw;
    height: 20vh;
    position: absolute;
    top: 37.5vh;
    left: 25vw;
    border-radius: 80px;
    visibility: hidden;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s ease-out;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}
.pwr-img {
  height: 75%;
  margin: 2;
  margin-top: 5;
  filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(97deg) brightness(102%) contrast(103%);
}
.pwr-btns {
  border-radius: 80px;
  height: 100%;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.pwr-btns:focus {
  outline: 0;
}
.pwr-txt {
  font-size: 2vh;
  font-weight: lighter;
}
.pwr-btns:hover{
  background-color: rgba(44, 44, 44, 0.479)
}
